<div class="col-xs-10 col-xs-offset-1 about">
  <h1>About Splurty</h1>

  <p class="about_text">
    Splurty was built by <a target='_blank' href="http://www.cargocollective.com/ericalai">Erica</a>, a graphic designer / flight attendant / serial wanderluster who is on a mission to become a web developer.
  </p>

  <div class="col-xs-12 col-sm-4 erica_image">
    <%= image_tag 'erica.jpg', class: 'img-responsive' %>
  </div>

  <div class='col-xs-12 col-sm-7 col-sm-offset-1'>
    <h2>Erica Lai</h2>
    <br />
    <p>
      Erica Lai is a graphic designer / flight attendant working to become a web developer. She has worked on projects for The Fashion Institute of Technology, Fast Company and Yale University. She has traveled four continents and her favorite two destinations are Maui and New Zealand.
    </p>
  </div>
  <br class='clear' />

</div>

<br class='clear' />
<br />
<br />
<br />
<br />

